h1 {
  font-family:cursive ;
  text-align: center;
  color: #8338ec;
  background-color:#cbc0d3 ;
  border-style:double;
  border: #014349;
}

body{
  background-color: #dee2ff;
}
div{
  font-size: 50px;
  font-family: cursive;
  text-align: center;
  color: #ec38e3;
  
}
p{
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color: #014349;
}
ul{
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #014349;
}
