h1 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 55px;
  color: #011d2c;
  margin: auto;
  background: url(../img/colorful-watercolor-brush-stroke-banner-2-29.png);
  background-repeat: no-repeat;
  background-position: center;

}
main h2{
  font-family: 'Parisienne', cursive;
  text-align: center;
  font-size: 55px;

  color: #f77f00;
  border-bottom-style: dashed;
  margin: auto;
  width: 40%;
}
footer h2{
  font-family: 'Open Sans', sans-serif;
  color: #d62828;
  text-align: center;
}

body{
  background-color: #011d2c;
}
div{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  text-align: center;
  color: #0890b9;
  
}
span{
  /* font-family: 'Great Vibes', cursive; */
  font-family: 'Parisienne', cursive;
  font-size: 180%;
}
p{
  font-family: 'Open Sans', sans-serif;
  font-size: 130%;
  text-align: center;
  color: #f77f00;
}
ul,ol{
  font-family:'Open Sans', sans-serif;
  color: #fcbf49;
  font-size: 110%;
  text-align: center;
  list-style-position: inside;
}
i{
  color: antiquewhite;
}
footer a{
  color:burlywood;
  text-decoration: none;
}